:root {
    --text-color: white;
    --text-dark-color: #202020;
    --header-height: 100px;
    --font-headings: Georgia, serif;
    --bcg-green: #ACB7AE;
    --bcg-lightgreen: #a6b3b3;
    --bcg-lightbrown: #b0a7a4;
    --bcg-lightblue: #a3abb1;
    --bcg-loaderblue: #758A94;
    --bcg-loaderbluedark: #566C76;
    --bcg-fill-color: var(--bcg-green);
    --loader-width: 27.36vw;
    --loader-height: 50vh;
    --v-spacing: 10vh;
    --h-gutter: 6.6vw;
    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 16px/1.7 'Source Sans Pro', Helvetica, Helvetica Neue, Arial, sans-serif;
    color: var(--text-dark-color);
    transition: background-image 0.5s ease; /* Добавьте это для плавного перехода */
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

/* =Скрываем весь контент во время загрузки */
.is-loading #main,
.is-loading .logo,
.is-loading .main-nav,
.is-loading .fill-background {
    display: none;
}
/* Скрываем весь контент во время загрузки */

.is-loading {
    background-color: var(--bcg-loaderblue);
}

.is-transitioning {
    pointer-events: none;
    cursor: progress;
}

#viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* =Лого BACKGROUND */
.logo {
    position: fixed;
    left: 0;
    height: var(--header-height);
    width: 280px;
    display: flex;
    align-items: center;
    z-index: 3;
    pointer-events: none;
}

.logo__text {
    color: var(--text-color);
    font-size: 3.125vw;
    font-family: var(--font-headings);
    letter-spacing: 7px;
    padding-left: var(--h-gutter);
    transition: opacity 0.3s linear;
    opacity: 1;
    text-transform: uppercase;
}
/* Лого BACKGROUND */

/* =Меню навигации */
.main-nav {
    position: fixed;
    top: 0;
    right: calc(var(--h-gutter) - 7vw); /* насколько справа расположить навигацию */
    z-index: 3;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav li {
    padding: 0;
    margin-right: 3vw; /* расстояние между элементами навигации */
    height: var(--header-height);
    display: flex;
    align-items: center;
}

.main-nav a {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase; /* чтобы все буквы навигации были большими */
    letter-spacing: 0.1vw; /* расстояние между буквами в слове */
    position: relative;
    overflow: hidden;
}

.main-nav a::after {
    display: block;
    content: '';
    height: 2px; /* толщина черточки при наведении на элемент навигации */
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateX(-101%);
}

.main-nav a:hover::after {
    transition: transform 0.3s var(--easing);
    transform: translateX(0);
}

.main-nav a.animate-out::after {
    transition: transform 0.3s var(--easing);
    transform: translateX(100%); /* сдвиг полоски под навигацией вправо */
}

.has-scrolled .logo__text {
    opacity: 0;
}   
/* Меню навигации */

.data-color {
    color: #ACB7AE;
}

/* =Первое при заходе на главную страницу */
header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    perspective: 1000px;
    z-index: 2; /* порядок слоев */
}

header h1 {
    font-family: var(--font-headings);
    font-weight: normal;
    color: #fff;
    font-size: 7vw;
    line-height: 7.4vw;
    z-index: 1; /* порядок слоев для "Добро пожалова + имя" */
    margin-bottom: 0;
    pointer-events: none;
}

header h1 span {
    display: block;
}

.subtitle {
    z-index: 1;
    font-size: 1.3vw;
    color: #fff;
    letter-spacing: 0.3vw;
    transform: translateX(-9vw);
    font-weight: 300;
    pointer-events: none;
}

.decor__circle {
    border: 1px white solid;
    border-radius: 100%;
    width: 23vw;
    height: 23vw;
    position: absolute;
    top: 45vh;
    left: 27vw;
    opacity: 0.4;
    pointer-events: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Первое при заходе на главную страницу */

/* =Галерея на первой странице */
.hg__image,
.rg__image {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    pointer-events: none;
}

.hg__image--l {
    width: 20vw;
    padding-bottom: 26vw;
}

.hg__image--m {
    width: 18vw;
    padding-bottom: 26.55vw;
}

.hg__image--s {
    width: 13vw;
    padding-bottom: 19vw;
}

.hg__image img,
.stage__image img,
.loader__image img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.8
}

.hg__left .hg__image:nth-child(1) {
    top: 17vh;
    left: 15vw;
}

.hg__left .hg__image:nth-child(2) {
    top: 30vh;
    left: 6vw;
}

.hg__left .hg__image:nth-child(3) {
    top: 56vh;
    left: 14vw;
}

.hg__right .hg__image:nth-child(1) {
    top: 15vh;
    left: auto;
    right: 21vw;
    width: 24vw;
    padding-bottom: 21vw;
}

.hg__right .hg__image:nth-child(2) {
    top: 27vh;
    left: auto;
    right: 10vw;
}

.hg__right .hg__image:nth-child(3) {
    top: 56vh;
    left: auto;
    right: 19vw;
    width: 16vw;
    padding-bottom: 20vw;
    z-index: 1;
}
/* =Галерея на первой странице */

/* =Loader */
.loader,
.loader__content {
    min-height: 100vh;
    position: fixed;
    flex-direction: column;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}

.loader__mask {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--bcg-loaderblue) no-repeat center;
    background-size: 155px 155px;
    overflow: hidden;
}

.loader .inner,
.loader__content .inner {
    width: var(--loader-width);
    height: var(--loader-height);
}

.loader .inner {
    background-color: var(--bcg-loaderbluedark);
    position: relative;
}

.loader .progress {
    background-color: var(--bcg-lightblue);
    position: absolute;
    left: 0;
    top: 0;
    width: var(--loader-width);
    height: var(--loader-height);
}

.loader__content {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    visibility: hidden;
    /* hide loader content by default */
}

.loader__title {
    font-size: 7vw;
    line-height: 8vw;
    margin: 0;
    font-family: var(--font-headings);
    color: var(--text-color);
    font-weight: normal;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.loader__image {
    width: var(--loader-width);
    padding-bottom: 50vh;
    overflow: hidden;
    position: relative;
}

.loader__title--mask {
    overflow: hidden;
}

.loader__title--mask span {
    display: block;
}

.loader__image--mask {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* =Main */
main {
    z-index: 1;
    position: relative;
}

section {
    position: relative;
}

.with-padding {
    padding: var(--v-spacing) 0;
}

.with-padding-bottom {
    padding-bottom: var(--v-spacing);
}

.chapter {
    position: absolute;
    left: var(--h-gutter);
    top: var(--v-spacing);
    z-index: 2;
    color: var(--text-color);
    font-size: 1.6vw;
}

.chapter span {
    opacity: 0.4;
}
/* Main */

/* =Portfolio (не то, которое в навигации, а где при нажатии появляются две картинки) */
.portfolio .chapter {
    top: calc(var(--v-spacing)*2);
}

.portfolio__categories {
    display: flex;
    flex-direction: column;
}

.portfolio__categories a {
    font-family: var(--font-headings);
    color: var(--text-dark-color);
    text-decoration: none;
    font-size: 5.4vw;
    margin: auto;
    letter-spacing: 0.2vw;
    line-height: 1.5;
}

.portfolio__categories a:hover {
    z-index: 1;
}

.portfolio__image--l,
.portfolio__image--s {
    pointer-events: none;
    /* important to be able to hover over links under the image */
    position: absolute;
    width: 28vw;
    top: 11vh;
    left: 24vw;
    overflow: hidden;
    background-color: #000;
    visibility: hidden;
}

.portfolio__image--l {
    padding-bottom: 41.66vw;
}

.portfolio__image--s {
    width: 15vw;
    top: 25vh;
    left: 54vw;
    padding-bottom: 20vw;
}

.image_inside {
    position: absolute;
    opacity: 0.8;
    top: -10%;
    left: 0;
    width: 100%;
    height: 115%;
    background-size: cover;
}
/* Portfolio */

/* =Технологии */
.how-we-work .chapter {
    top: calc(var(--v-spacing)*2);
}

.fixed-nav {
    position: absolute;
    top: calc(var(--v-spacing)*3);
    left: var(--h-gutter);
}

.fixed-nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.fixed-nav li {
    overflow: hidden;
}

.fixed-nav a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--font-headings);
    position: relative;
    padding-left: 1.8vw;
    transform: translateX(-1.8vw);
    display: block;
    opacity: 0.4;
    transition: all 0.3s var(--easing);
}

.fixed-nav li a::before {
    content: '';
    display: block;
    height: 2px;
    width: 1.3vw;
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 0;
}

.fixed-nav li.is-active a {
    transform: translateX(0);
    opacity: 1;
}

.stage__heading {
    font-family: var(--font-headings);
    position: relative;
    z-index: 2;
    /* fix for Safari */
}

.stage__heading h3,
.stage__heading p {
    position: absolute;
    left: 25vw;
    top: calc(var(--v-spacing) * -1.25);
    font-size: 3.6vw;
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
    color: var(--text-color);
}

.stage__heading p {
    font-size: 1.6vw;
    opacity: 0.4;
    top: calc(var(--v-spacing) * -1.75);
}

.stage__image {
    width: calc(50vw + var(--h-gutter));
    margin: 0 var(--h-gutter) 0 33.33vw;
    padding-bottom: 33.33vw;
    background-color: #a3abb1;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* fix for Safari */
}

.stage__image img {
    opacity: 1;
    height: 110%;
    top: -7%;
}

.stage__text {
    color: var(--text-color);
    margin: 0 calc(30vw + var(--h-gutter)) var(--v-spacing) 33.33vw;
}
/* Технологии */

/* =About Us */
.about-us {
    color: var(--text-color);
}

.about-us .chapter {
    top: inherit;
    left: inherit;
    position: relative;
    margin: 0 var(--h-gutter) var(--v-spacing) var(--h-gutter);
}

.about-us__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 var(--h-gutter);
}

.about-us__image {
    width: 40%;
    padding-bottom: 40%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.about-us__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.about-us__text {
    width: 55%;
    font-size: 1.2vw;
    line-height: 1.5;
}

.about-us__text h3 {
    font-family: var(--font-headings);
    font-size: 2.5vw;
    line-height: 2;
    font-weight: normal;
    letter-spacing: 0.1vw;
    margin-bottom: 1vw;
}

.about-us__text p {
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
/* About us */

/* =Music */
.music-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.music-item {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Чтобы описание не выходило за пределы блока */
}

.music-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Изначально прозрачный фон */
    transition: background-color 0.3s ease;
    z-index: 1; /* Чтобы псевдоэлемент был поверх фона, но под текстом */
}

.music-item:hover::before {
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона при наведении */
}

.music-item h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 2; /* Чтобы текст был поверх псевдоэлемента */
    transition: opacity 0s ease; /* анимация исчезновения */
}

.music-item:hover h2 {
    opacity: 0; /* исчезновение названия при наведении */
}

.music-item audio {
    display: none; /* Чтобы не было аудиоплеера */
}

.music-item.playing {
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.music-item .description {
    position: absolute;
    top: 20%; /* как высоко описание */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    width: 80%;
    z-index: 2; /* описание поверх фона */
    font-size: 20px; /* размера описания */
    font-weight: bold;
}

.music-item:hover .description {
    opacity: 1; /* появление описания при наведении */
}
/* Music */

/* =Страничка с фонами */
.background-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.background-item {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Чтобы описание не выходило за пределы блока */
}

.background-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Изначально прозрачный фон */
    transition: background-color 0.3s ease;
    z-index: 1; /* Чтобы псевдоэлемент был поверх фона, но под текстом */
}

.background-item:hover::before {
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона при наведении */
}

.background-item h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 2; /* Чтобы текст был поверх псевдоэлемента */
    transition: opacity 0s ease; /* анимация исчезновения */
}

.background-item:hover h2 {
    opacity: 0; /* исчезновение названия при наведении */
}
/* Страничка с фонами */

#background-layer {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    transition: background-image 0.5s ease;
    z-index: 1; /* Чтобы фон был под всеми другими элементами */
    pointer-events: none; /* Чтобы не блокировать прокрутку */
}

.fill-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    will-change: background-color;
    background-color: var(--bcg-fill-color);
    transition: background-color 0.3s linear;
}

/* =Инструкция */
.instruction {
    color: var(--text-dark-color);
}

.instruction .chapter {
    top: inherit;
    left: inherit;
    position: relative;
    margin: 0 var(--h-gutter) var(--v-spacing) var(--h-gutter);
}

.instruction__content {
    margin: 0 var(--h-gutter);
}

.instruction__content h2 {
    font-family: var(--font-headings);
    font-size: 2.5vw;
    line-height: 2;
    font-weight: normal;
    letter-spacing: 0.1vw;
    margin-bottom: 1vw;
}

.instruction__content p {
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.instruction__content ol {
    list-style-type: decimal;
    padding-left: 2vw;
}

.instruction__content li {
    margin-bottom: 1vw;
}

.instruction__content li p {
    font-size: 1.2vw;
}
/* Инструкция */

/* =Вот это уже портфолио с работами */
.portfolio__content {
    margin: 0 var(--h-gutter);
    padding-bottom: 40px; /* Добавляем отступ снизу */
}

.portfolio__content h2 {
    font-family: var(--font-headings);
    font-size: 2.5vw;
    line-height: 2;
    font-weight: normal;
    letter-spacing: 0.1vw;
    margin-bottom: 1vw;
}

.portfolio__gallery,
.archives__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.portfolio__item,
.archive__item {
    position: relative;
    width: 350px; /* Установите желаемый размер */
    height: 250px; /* Установите желаемый размер */
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio__info,
.archive__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
}

.portfolio__info h3,
.archive__info h3 {
    margin: 0;
    font-size: 14px;
}

.portfolio__info .btn,
.archive__info .btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #566C76;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

.portfolio__info .btn:hover,
.archive__info .btn:hover {
    background-color: #ACB7AE;
}

.portfolio__info .delete-btn,
.archive__info .delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}

.portfolio__info .delete-btn:hover,
.archive__info .delete-btn:hover {
    background-color: #ff1a1a;
}

.portfolio-tabs {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 20px; /* Добавляем отступ между кнопками табов */
}

.tab-button {
    padding: 15px 30px; /* Увеличиваем размер кнопок */
    border: 2px solid #ACB7AE; /* Добавляем контур */
    background-color: #566C76; /* Прозрачный фон */
    color: #ACB7AE; /* Цвет текста */
    cursor: pointer;
    transition: border-color 0.3s ease, color 0.3s ease; /* Плавный переход для контура и цвета текста */
    border-radius: 25px; /* Закругленные края */
    font-size: 18px; /* Увеличиваем размер текста */
}

.tab-button.active {
    background-color: #566C76;
    color: white;
    border-color: #566C76;
}

.tab-button:not(.active) {
    color: #888; /* Серый цвет текста для неактивных кнопок */
}

.tab-button:hover {
    border-color: white; /* Белый контур при наведении */
    color: white; /* Белый текст при наведении */
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #566C76; /* цвет каемки после наведения */
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.btn:hover {
    background-color: transparent; /* прозрачный фон после наведения */
    color: #000; /* цвет текста после наведения */
    cursor: pointer;
    border: 2px solid #fff; /* цвет каемки после наведения */
    transition: border-color 0.3s ease, color 0.3s ease; /* Плавный переход для контура и цвета текста */
}
/* Вот это уже портфолио с работами */

/* =Страничка с модель */
.upload__content {
    margin: 0 var(--h-gutter);
    padding: 20px;
    background-color: var(--bcg-lightgreen);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload__content h2 {
    font-family: var(--font-headings);
    font-size: 2.5vw;
    line-height: 2;
    font-weight: normal;
    letter-spacing: 0.1vw;
    margin-bottom: 1vw;
}

.upload__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upload__form label {
    font-size: 18px;
    font-weight: bold;
}

.upload__form input[type="file"],
.upload__form select,
.upload__form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--bcg-lightblue);
}

.upload__form button {
    padding: 10px 20px;
    background-color: var(--bcg-green);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.upload__form button:hover {
    background-color: var(--bcg-lightblue);
}

.upload__form a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.upload__form a:hover {
    color: var(--bcg-lightblue);
}

#processedImageContainer img {
    max-width: 100%;
    border-radius: 10px;
}
/* Страничка с модель */

/* =Архиватор */
.archiver__content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--bcg-lightgreen);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-side {
    width: 50%;
    padding-right: 20px;
}

.right-side {
    width: 50%;
    padding-left: 20px;
    border-left: 1px solid var(--bcg-lightblue);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--bcg-green);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: var(--font-headings);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.custom-file-upload:hover {
    background-color: var(--bcg-lightgreen);
}

#file-upload {
    display: none;
}

#upload-status {
    margin-top: 20px;
    font-size: 16px;
    color: var(--text-dark-color);
    font-family: 'Source Sans Pro', sans-serif;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--bcg-lightblue);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: var(--font-headings);
    letter-spacing: 1px;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: var(--bcg-loaderblue);
}

.checkbox-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.checkbox-group label {
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-dark-color);
}

#archive-name {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--bcg-lightblue);
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-dark-color);
}

.photo-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.uploaded-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.delete-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Архиватор */

/* =Профиль */
.profile__content {
    margin: 0 var(--h-gutter);
    padding-bottom: 40px; /* Добавляем отступ снизу */
}

.profile__content h2 {
    font-family: var(--font-headings);
    font-size: 2.5vw;
    line-height: 2;
    font-weight: normal;
    letter-spacing: 0.1vw;
    margin-bottom: 1vw;
}

.archives__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.archive__item {
    position: relative;
    width: 350px; /* Установите желаемый размер */
    height: 250px; /* Установите желаемый размер */
    background-image: url("{{ url_for('static', filename='img/onyx.jpg') }}");
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.archive__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
}

.archive__info h3 {
    margin: 0;
    font-size: 14px;
}

.archive__info .btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #566C76;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

.archive__info .btn:hover {
    background-color: #ACB7AE;
}

.archive__info .delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}

.archive__info .delete-btn:hover {
    background-color: #ff1a1a;
}
/* Профиль */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1140px) {}