<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>BackDrop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/randomDog.js') }}" defer></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
</head>

<body class="is-loading" data-barba="wrapper">

    <div class="loader">
        <div class="loader__mask">
            <div class="inner">
                <div class="progress"></div>
            </div>
        </div>
    </div>
    <div class="loader__content">
        <div class="inner">
            <div class="loader__title">
                <div class="loader__title--mask"><span>Добро</span></div>
                <div class="loader__title--mask"><span>Пожаловать!</span></div>
            </div>
            <div class="loader__image">
                <div class="loader__image--mask">
                    <img src="./static/img/aest.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="logo">
        <span class="logo__text">BackDrop</span>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/index">Главная</a></li>
            <li><a href="/portfolio">Портфолио</a></li>
            <li><a href="/archiver">Архиватор</a></li>
            <li><a href="/music">Музыка</a></li>
            <li><a href="/background">Фон</a></li>
            <li><a href="/instruction">Инструкция</a></li>
            <li><a href="#1">Язык</a></li>
            <li><a href="/profile">Выход</a></li>
            <li><a href="#0">Связаться с нами</a></li>
        </ul>
    </nav>


    <div id="viewport">

        <main id="main" data-barba="container">

            <header data-color="#ACB7AE">
                <h1>
                    <span>Попробуй все</span>
                    <span>Возможности</span>
                    <span>Фона</span>
                </h1>
                <div class="decor__circle"></div>
                <div class="header__gallery">
                    <div class="hg__left">
                        <div class="hg__image hg__image--l">
                            <img src="./static/img/grey_laps.jpg" />
                        </div>
                        <div class="hg__image hg__image--m">
                            <img src="./static/img/img_landscape-02-large.jpg" />
                        </div>
                        <div class="hg__image hg__image--s">
                            <img src="./static/img/lala.jpg" />
                        </div>
                    </div>
                    <div class="hg__right">
                        <div class="hg__image hg__image--l">
                            <img src="./static/img/laps.jpg" />
                        </div>
                        <div class="hg__image hg__image--m">
                            <img src="./static/img/no_laps.jpg" />
                        </div>
                        <div class="hg__image hg__image--s">
                            <img src="./static/img/meow.jpg" />
                        </div>
                    </div>
                </div>
                <div class="cta__circle">
                    <div class="cta__circle--logo"></div>
                </div>
            </header>

            <!-- Portfolio - fade background colors on hover-->
            <section class="portfolio with-padding">
                <h2 class="chapter">
                    <span>001 -</span> Возможности
                </h2>
                <div class="portfolio__categories">
                    <a href="#0" data-color="#b3a8b3" data-imagelarge="./static/img/myrrr_fon.jpg" data-imagesmall="./static/img/myr.jpg">Удаление полностью</a>
                    <a href="#0" data-color="#bab6a8" data-imagelarge="./static/img/flo-fon.jpg" data-imagesmall="./static/img/flo.jpg">Замена на цвет</a>
                    <a href="#0" data-color="#b3a8b3" data-imagelarge="./static/img/duck_fon.jpg" data-imagesmall="./static/img/duck.jpg">Замена на изображение</a>
                    <a href="#0" data-color="#a3b1ae" data-imagelarge="./static/img/vod_vod.jpg" data-imagesmall="./static/img/vod.jpg">Водяной знак</a>
                </div>
                <div class="portfolio__image--l">
                    <div class="image_inside" style="background-image: url('./static/img/img_portfolio-02-480-720.jpg')"></div>
                </div>
                <div class="portfolio__image--s">
                    <div class="image_inside" style="background-image: url('./static/img/img_portfolio-01-480-720.jpg')"></div>
                </div>
            </section>
            <!-- /Portfolio -->

            <!-- Results -->
            <section class="how-we-work with-padding">
                <h2 class="chapter">
                    <span>002 -</span> Технологии
                </h2>
                <div class="fixed-nav">
                    <ul>
                        <li class="is-active"><a href="#stage1">Сегментация с использованием масок</a></li>
                        <li><a href="#stage2">Модель</a></li>
                        <li><a href="#stage3">Итог</a></li>
                    </ul>
                </div>
                <div id="stage1" class="stage with-parallax" data-color="#8c8480">
                    <div class="stage__image">
                        <img src="./static/img/man.jpg" />
                    </div>
                    <div class="stage__heading">
                        <p>01</p>
                        <h3>Сегментация</h3>
                    </div>
                    <div class="stage__text">
                        <p>Модель получает изображения масок: отдельно фон, отдельно объект</p>
                    </div>
                </div>
                <div id="stage2" class="stage with-parallax" data-color="#505156">
                    <div class="stage__image">
                        <img src="./static/img/fish.jpg" />
                    </div>
                    <div class="stage__heading">
                        <p>02</p>
                        <h3>Модель</h3>
                    </div>
                    <div class="stage__text">
                        <p>EfficientNet + OurModel</p>
                    </div>
                </div>
                <div id="stage3" class="stage with-parallax" data-color="#ccb28b">
                    <div class="stage__image">
                        <img src="./static/img/hands.jpg" />
                    </div>
                    <div class="stage__heading">
                        <p>03</p>
                        <h3>Итог</h3>
                    </div>
                    <div class="stage__text">
                        <p>Бесплатный продукт для вашего пользования!</p>
                    </div>
                </div>
            </section>
            <!-- /Results -->

            <!-- Contact Us -->
            <section id="contact-us" class="about-us with-padding-bottom with-parallax">
                <h2 class="chapter">
                    <span>003 -</span> Связаться с нами
                </h2>
                <div class="about-us__content">
                    <div class="about-us__image">
                        <img src="./static/img/photo.jpg" alt="Random Dog Image" />
                    </div>
                    <div class="about-us__text">
                        <h3>Ждем ваших вопросов!</h3>
                        <p>Напишите нам:</p>
                        <p>Телеграм: @tmbochka</p>
                        <p>Почта: julialatypova52@gmail.com</p>
                    </div>
                </div>
            </section>
            <!-- /Contact Us -->

        </main>
        <!-- #main-container -->

        <!-- fill background between sections with margin - eg. portfolio  -->
        <aside class="fill-background"></aside>

    </div>
    <!-- #viewport -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/smooth-scrollbar@latest/dist/smooth-scrollbar.js"></script>
</body>

</html>