<!doctype html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8">
    <title>Инструкция - BackDrop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/main.js" defer></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
</head>

<body class="is-loading" data-barba="wrapper">

    <div class="loader">
        <div class="loader__mask">
            <div class="inner">
                <div class="progress"></div>
            </div>
        </div>
    </div>
    <div class="loader__content">
        <div class="inner">
            <div class="loader__title">
                <div class="loader__title--mask"><span>Добро </span></div>
                <div class="loader__title--mask"><span>Пожаловать!</span></div>
            </div>
            <div class="loader__image">
                <div class="loader__image--mask">
                    <img src="./img/aest.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="logo">
        <span class="logo__text">BackDrop</span>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="index.html" class="lang-link" data-lang="ru">Главная</a></li>
            <li><a href="portfolio.html" class="lang-link" data-lang="ru">Портфолио</a></li>
            <li><a href="archiver.html" class="lang-link" data-lang="ru">Архиватор</a></li>
            <li><a href="profil.html" class="lang-link" data-lang="ru">Профиль</a></li>
            <li><a href="music.html" class="lang-link" data-lang="ru">Музыка</a></li>
            <li><a href="background.html" class="lang-link" data-lang="ru">Фон</a></li>
            <li><a href="#0" id="languageToggle" class="lang-link" data-lang="ru">Язык</a></li>
            <li><a href="instruction.html" class="lang-link" data-lang="ru">Инструкция</a></li>
            <li><a href="#0" class="lang-link" data-lang="ru">Связаться с нами</a></li>
        </ul>
    </nav>

    <div id="viewport">

        <main id="main" data-barba="container">

            <section class="instruction with-padding">
                <h1 class="chapter">
                    <span>Инструкция</span>
                </h1>
                <div class="instruction__content">
                    <h2>Как пользоваться BackDrop</h2>
                    <p>Длинная жопа</p>
        </main>

        <aside class="fill-background"></aside>

    </div>
    <!-- #viewport -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/smooth-scrollbar@latest/dist/smooth-scrollbar.js"></script>

</body>

</html>