<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Музыка</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
</head>

<body class="is-loading" data-barba="wrapper">

    <div class="loader">
        <div class="loader__mask">
            <div class="inner">
                <div class="progress"></div>
            </div>
        </div>
    </div>
    <div class="loader__content">
        <div class="inner">
            <div class="loader__title">
                <div class="loader__title--mask"><span>Подождите,</span></div>
                <div class="loader__title--mask"><span>Идет загрузка</span></div>
            </div> 
            <div class="loader__image">
                <div class="loader__image--mask">
                    <img src="{{ url_for('static', filename='img/img_landscape-01-large.jpg') }}" />
                </div>
            </div>
        </div>
    </div>

    <div class="logo">
        <span class="logo__text">BackDrop</span>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/account">Главная</a></li>
            <li><a href="/portfolio">Портфолио</a></li>
            <li><a href="/archiver">Архиватор</a></li>
            <li><a href="/music">Музыка</a></li>
            <li><a href="/background">Фон</a></li>
            <li><a href="/instruction">Инструкция</a></li>
            <li><a href="#0">Язык</a></li>
            <li><a href="/profile">Выход</a></li>
            <li><a href="#contact-us" id="contact-link">Связаться с нами</a></li>
        </ul>
    </nav>


    <div id="viewport">

        <main id="main" data-barba="container">

            <header data-color="#ACB7AE">
                <h1>
                    <span>Музыка</span>
                </h1>
                <p class="subtitle">Список композиций</p>
            </header>

            <section class="music-list">
                <div class="music-item" data-audio="audio1" data-background="{{ url_for('static', filename='img/compose_back/compose1.jpg') }}">
                    <h2>Композиция 1</h2>
                    <div class="description">Краткое описание композиции 1</div>
                    <audio id="audio1">
                        <source src="{{ url_for('static', filename='compose/compose1.mp3') }}" type="audio/mpeg">
                        Ваш браузер не поддерживает аудио элемент.
                    </audio>
                </div>
                <div class="music-item" data-audio="audio2" data-background="{{ url_for('static', filename='img/compose_back/compose2.jpg') }}">
                    <h2>Композиция 2</h2>
                    <div class="description">Краткое описание композиции 1</div>
                    <audio id="audio2">
                        <source src="{{ url_for('static', filename='compose/compose2.mp3') }}" type="audio/mpeg">
                        Ваш браузер не поддерживает аудио элемент.
                    </audio>
                </div>
                <div class="music-item" data-audio="audio3" data-background="{{ url_for('static', filename='img/compose_back/compose3.jpg') }}">
                    <h2>Композиция 3</h2>
                    <div class="description">Краткое описание композиции 1</div>
                    <audio id="audio3">
                        <source src="{{ url_for('static', filename='compose/compose3.mp3') }}" type="audio/mpeg">
                        Ваш браузер не поддерживает аудио элемент.
                    </audio>
                </div>
                <div class="music-item" data-audio="audio4" data-background="{{ url_for('static', filename='img/compose_back/compose4.jpg') }}">
                    <h2>Композиция 4</h2>
                    <div class="description">Краткое описание композиции 1</div>
                    <audio id="audio4">
                        <source src="{{ url_for('static', filename='compose/compose4.mp3') }}" type="audio/mpeg">
                        Ваш браузер не поддерживает аудио элемент.
                    </audio>
                </div>
                <div class="music-item" data-audio="audio5" data-background="{{ url_for('static', filename='img/compose_back/compose5.jpg') }}">
                    <h2>Композиция 5</h2>
                    <div class="description">Краткое описание композиции 1</div>
                    <audio id="audio5">
                        <source src="{{ url_for('static', filename='compose/compose5.mp3') }}" type="audio/mpeg">
                        Ваш браузер не поддерживает аудио элемент.
                    </audio>
                </div>
                <div class="music-item" data-audio="audio6" data-background="{{ url_for('static', filename='img/compose_back/compose6.jpg') }}">
                    <h2>Композиция 6</h2>
                    <div class="description">Краткое описание композиции 1</div>
                    <audio id="audio6">
                        <source src="{{ url_for('static', filename='compose/compose6.mp3') }}" type="audio/mpeg">
                        Ваш браузер не поддерживает аудио элемент.
                    </audio>
                </div>
                <div class="music-item" data-audio="audio7" data-background="{{ url_for('static', filename='img/compose_back/compose7.jpg') }}">
                    <h2>Композиция 7</h2>
                    <div class="description">Краткое описание композиции 1</div>
                    <audio id="audio7">
                        <source src="{{ url_for('static', filename='compose/compose7.mp3') }}" type="audio/mpeg">
                        Ваш браузер не поддерживает аудио элемент.
                    </audio>
                </div>
            </section>

        </main>
        <aside class="fill-background"></aside>

    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/smooth-scrollbar@latest/dist/smooth-scrollbar.js"></script>
<script src="{{ url_for('static', filename='js/music.js') }}"></script>
</body>

</html>