<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="form-box profile">
            <h2>Welcome, {{ current_user.name }}!</h2>
            <p>Email: {{ current_user.email }}</p>
            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>